*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
body
{
 background-color: rgba(0, 0, 0, 0.927);
 height: 100vh;
 padding: 0;
 margin: 0;
}
html
{
    font-size: 62.5%;
}
/*Header*/
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.0rem 5.0rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.189);
    background-color: rgba(0, 0, 0, 0.99);
    position: fixed;
    width: 100%;
    z-index: 10000;
}
.logo
{
    font-size: 4rem;
    background: linear-gradient(135deg, aqua, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "JetBrains Mono", monospace;
}
.logo #bracket
{
    font-size: bolder;
    letter-spacing: 0.4rem;
    background: #ffd700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#links
{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.15rem;
    gap:2.0rem;
}
#links a
{
    text-decoration: none;
    transition: 20ms;
    padding: 0.65rem;
}
#links a:hover
{
    color: rgba(0, 0, 0, 0.927);
    background-color: aqua;
    padding: 0.65rem;
    border-radius: 0.5rem;
}
/*Homepage*/
#home
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    padding: 12rem 5rem 5rem;
}
#home-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

#text-container p
{
    font-size: 4rem;
}
#text-container h1
{
    font-size: 5.5rem;
}
#text-container h2
{
    font-size: 4.5rem;
    background: linear-gradient(to right, grey, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#icons
{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 1.0rem;
}
#icons
{
    font-size: 2.3rem;
    margin-top: 2.0rem;
}
#button-container
{
    font-size: 2.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
}
#button-container #resume
{
    text-decoration: none;
    cursor: pointer;
    padding: 0.65rem;
    background-color: hsl(348, 83%, 50%);
    border-radius: 0.9rem;
}
#symbols
{
    font-size: 2.5rem;
}
/*About*/
#About
{
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#About h1
{
    font-size: 5.5rem;
    font-weight: bolder;
}
#about-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5rem;
}
#about-text
{
    padding: 0;
}
#about-text p
{
    font-size: 2rem;
}
/*Tech Stack*/
#Tech-Stack
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 5rem;*/
    gap: 7rem;
}
#Tech-Stack h1
{
    font-size: 5.5rem;
    font-weight: bolder;
}
#card-container
{
    display: flex;
    flex-wrap: wrap;
    gap:5rem;
}
.card
{
    flex: 1 0 33%;
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
    /*color: rgba(0, 0, 0, 0.927);*/
    /* light-mode color: rgb(40, 36, 36);*/
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.HTML
{
    background-color: chartreuse;
}
.HTML .fa-html5
{
    background-color: #e34f26;
}
.CSS
{
    background-color: #00ffff;
}
.CSS .fa-css3-alt
{
    background-color: #1572b6;
}
._js
{
    background-color: #f97316;
}
._js .fa-js
{
    background-color: #f7df1e;
}
.Git
{
    background-color: rgb(240, 8, 8);
}
.Git .fa-git-alt
{
    background-color: #f05032;
}
/*Projects*/
#Projects_
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap:3rem
}
#Projects_ h1
{
    font-size: 5.5rem;
    font-weight: bolder;
}
/*Contacts*/
#Contact_
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap:3rem
}
#Contact_ h1
{
    font-size: 5.5rem;
    font-weight: bolder;
}
#Contact_ p
{
    font-size: 2rem;
}
#ccard
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
}
#Contact_ ul
{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
#Contact_ ul li 
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    flex: 2 0 33%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.0em 0.5em;
}
#Contact_ ul li:hover
{
    color:red;
}
#Contact_ ul a
{
    text-decoration:none;
}
#Contact_ ul a:hover
{
    color: aqua;
}
#Contact_ ul a div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40rem;
}
#Contact_ ul a div .ph
{
    color: rgba(25, 237, 46, 0.968);
}
#Footer_
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    padding: 5rem;
    gap:3rem;
}
#Footer_ p
{
    font-size: 3.5rem;
}